<header class="masthead" [style.background-image]="safeBackgroudImage">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
              <ng-container *ngIf="siteHeading; else postHeading"
                    ><div class="site-heading">
                        <h1>{{heading}}</h1>
                        <span class="subheading">{{subHeading}}</span>
                        <span class="meta">{{meta}}</span>
                    </div></ng-container
                >
            </div>
        </div>
    </div>
</header>
<ng-template #postHeading
    ><div class="post-heading">
        <h1>{{heading}}</h1>
        <h2 class="subheading">{{subHeading}}</h2>
        <span class="meta">{{meta}}</span>
    </div></ng-template>
