<sb-layout-blog>

<sb-clean-blog-header backgroundImage='url("assets/img/about-bg.jpg")' heading="Olivier Barais" subHeading="Professor @University of Rennes 1 / IRISA / INRIA / B-COM" [siteHeading]="true"></sb-clean-blog-header>
            <!-- # Dr. Olivier Barais   -->
            <iframe src="https://cal.diverse-team.fr/olivier-barais" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:840px;width:100%;border:none;overflow:hidden;" frameBorder="0"></iframe>


          </sb-layout-blog>
