<sb-layout-blog>
    <sb-clean-blog-header backgroundImage='url("assets/img/PICT0024.JPG")' heading="Debconf 25"
        subHeading="Academic Track" [siteHeading]="true">
    </sb-clean-blog-header>



    <div class="container py-5 overlay">

    <div class="content-section-a" id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <!--                     <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2>Debconf academic track</h2>

                    <p class="lead" align="justify">

                      The 26th Debian Conference is in Brest, France, Monday July 14th to Sunday July 20th 2025. DebCamp will be held from Monday July 7th to Sunday July 13th 2025.
                       </p>
                       <p class="lead" align="justify">
                        During the debconf, we would like to invite academic to submit papers to the academic track. The goal of this track is to present the latest research and development in the field of free software and open source. The papers will be published in the proceedings of the conference and will be available online.
</p>
<p class="lead" align="justify">
  The DebConf25 Content Team invites computer scientists, legal scholars, and interdisciplinary researchers to submit proposals for the Scientific Track, focusing on the intersection of open-source technology, computer science, security, or legal/policy frameworks. This track aims to spark collaboration between Debian contributors and computer science, law, ethics, and policy experts to address challenges in open-source ecosystems.
</p>
                </div>
                <div class="col-lg-5 col-lg-offset-0 col-sm-6 ">
                    <!-- <img class="img-responsive" src="img/inria-rba.jpg" alt=""> -->
                    <span itemprop="workLocation" itemscope itemtype="http://schema.org/Place">
                        <img class="img-fluid" src="https://debconf25.debconf.org/static/img/logo.7986b4c57d86.svg"
                            alt="debconf25 logo" itemprop="image">
                    </span>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <!--    <ng-container *ngIf="posts$ | async as posts"
        ><div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview" *ngFor="let post of posts">
                        <a [routerLink]="post.slug"
                            ><h2 class="post-title">{{post.heading}}</h2>
                            <h3 class="post-subtitle">{{post.subHeading}}</h3></a
                        >
                        <p class="post-meta">{{post.meta}}</p>
                    </div>
                </div>
            </div>
        </div></ng-container>-->
        </div>
</sb-layout-blog>
